caption {
    padding: 10px;
    caption-side: top;
}

.btn-outline-add{
      

    border:none;
  
    outline: none;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 40px;
    width: 170px;
    background: #977cb3;
    color: #fff;
    font-size: 15px;
  
    }
  
  .btn-outline-add:hover{
      cursor: pointer;
  background: #372347;
  color: #ffffff;
  }