<div class="animated">
    <h2 class="mt3" style="margin-top: 20px;margin-right: 20px; text-align: center;">Customer Details</h2>
    <hr>

    <div class="container">
        <div class="col-md-10 col-lg-10">
            <div class="float-none">
                <div class="card" style="width: 500px;height: 630px;">
                    <div class="card-header">
                        <img id="imgs" src="../assets/images/profile.png" alt="Avatar" style="width:80px">
                    </div>
                    <div class="card-body">
                        <label class="required col-lg-5 text-left font-weight-bold" style="margin-left: 50px;">Name:
                        </label><label>{{getcust.name}}</label>
                        <hr>
                        <label class="required col-lg-5 text-left font-weight-bold" style="margin-left: 50px;">Username:
                        </label><label>{{getcust.username}}</label>
                        <hr>
                        <label class="required col-lg-5 text-left font-weight-bold" style="margin-left: 50px;">Phoneno:
                        </label><label>{{getcust.phoneNo}}</label>
                        <hr>
                        <label class="required col-lg-5 text-left font-weight-bold" style="margin-left: 50px;">Alternate
                            Phoneno:
                        </label><label>{{getcust.alternatePhoneNo}}</label>
                        <hr>
                        <label class="required col-lg-5 text-left font-weight-bold" style="margin-left: 50px;">Alternate
                            Email:
                        </label><label>{{getcust.alternateEmail}}</label>
                        <hr>
                        <label class="required col-lg-5 text-left font-weight-bold" style="margin-left: 50px;">Gender:
                        </label><label>{{getcust.gender}}</label>
                        <hr>
                        <label class="required col-lg-5 text-left font-weight-bold" style="margin-left: 50px;">Balance:
                        </label><label>{{getcust.balance}}</label>
                        <hr>


                        <button class="btn editButton" routerLink="edit-customer">Edit profile</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>