<br/>
<br/>
<div class="col-md-10 col-lg-10">
    <h3 class="class=mt3" style="margin-left: 20%; text-align: center;">Edit Profile</h3>
    <hr>
    <br/>
<br/>

    <form [formGroup]="editProfileForm" (ngSubmit)="editUser()">
        <div class="form-group row">
            <label for="username" class="required col-lg-4 text-right font-weight-bold">
                User Name :
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control " placeholder="Name" formControlName="username" />

                <div *ngIf="submitted && editProfileForm.controls.username.errors">
                    <div class="text-danger" *ngIf="editProfileForm.controls.username.errors.required">
                        UserName is required..!
                    </div>


                </div>
            </div>


        </div>
        <div class="form-group row">
            <label for="name" class="required col-lg-4 text-right font-weight-bold">
                Name :
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control " placeholder="name" formControlName="name" />

                <div *ngIf="submitted && editProfileForm.controls.name.errors">
                    <div class="text-danger" *ngIf="editProfileForm.controls.name.errors.required">
                        Name is required..!
                    </div>


                </div>
            </div>


        </div>

        <div class="form-group row">
            <label for="phoneNo" class="required col-lg-4 text-right font-weight-bold">
                PhoneNo :
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control " placeholder="phoneNo" formControlName="phoneNo" />

                <div *ngIf="submitted && editProfileForm.controls.phoneNo.errors">
                    <div class="text-danger" *ngIf="editProfileForm.controls.phoneNo.errors.required">
                        phoneNo is required..!
                    </div>
                     <div class="text-danger" *ngIf="editProfileForm.controls.phoneNo.errors.pattern">
                        Mobile Number must be 10 digits and should be numeric..!
                    </div> 

                </div>
            </div>


        </div>

        <div class="form-group row">
            <label for="alternatePhoneNo" class="required col-lg-4 text-right font-weight-bold">
                Alternate PhoneNo :
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control " placeholder="alternatePhoneNo"
                    formControlName="alternatePhoneNo" />

                <div *ngIf="submitted && editProfileForm.controls.alternatePhoneNo.errors">
                    <div class="text-danger" *ngIf="editProfileForm.controls.alternatePhoneNo.errors.required">
                        alternatePhoneNo is required..!
                    </div>
                     <div class="text-danger" *ngIf="editProfileForm.controls.alternatePhoneNo.errors.pattern">
                        Mobile Number must be 10 digits and should be numeric..!
                   
                    </div> 

                </div>
            </div>


        </div>
        <div class="form-group row">
            <label for="alternateEmail" class="required col-lg-4 text-right font-weight-bold">
                Alternate Email :
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control " placeholder="alternateEmail"
                    formControlName="alternateEmail" />

                <div *ngIf="submitted && editProfileForm.controls.alternateEmail.errors">
                    <div class="text-danger" *ngIf="editProfileForm.controls.alternateEmail.errors.required">
                        alternateEmail is required..!
                    </div>
                    <div class="text-danger" *ngIf="editProfileForm.controls.alternateEmail.errors.pattern">
                        Invalid Email Address..!
                    </div>  

                </div>
            </div>


        </div>
        <div class="form-group row">
            <label for="gender" class="required col-lg-4 text-right font-weight-bold">
                Gender :
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control " placeholder="gender" formControlName="gender" />

                <div *ngIf="submitted && editProfileForm.controls.gender.errors">
                    <div class="text-danger" *ngIf="editProfileForm.controls.gender.errors.required">
                        gender is required..!
                    </div>


                </div>
            </div>


        </div>
        <div class="form-group row">
            <label for="balance" class="required col-lg-4 text-right font-weight-bold">
                Balance :
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control " placeholder="balance" formControlName="balance" />

                <div *ngIf="submitted && editProfileForm.controls.balance.errors">
                    <div class="text-danger" *ngIf="editProfileForm.controls.balance.errors.required">
                        wbalance is required..!
                    </div>


                </div>
            </div>
            <br><br>
            <div class="col-lg-8" style="margin-top: 30px; margin-left: 240px;">
                <button class="saveButton"  type="submit">Save</button>&nbsp; &nbsp;
                <a routerLink="/customer/changePassword" class="btn btn btn-outline-add ">Change Password</a>
            </div>


        </div>
        
       
    </form>
    
    

</div>
