
<div class="animated">

    <!-- <h2>{{resp}}</h2> -->
    <h2 class="mt-5">Forgot Password..?</h2>
<div class="container row mb-5" style="margin-top: 2%;">
    <div class="col-md-6">
        <form [formGroup]="forgotPassForm" (ngSubmit)="verifyQuestion()">
            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/ios-filled/50/000000/username.png" /></span>&nbsp;&nbsp;
                    <input type="text" formControlName="username" placeholder="Username">
                </div>
                <!-- Validation Messages -->
                <div *ngIf="submitted && forgotPassForm.controls.username.errors">
                    <div class="text-danger" *ngIf="forgotPassForm.controls.username.errors.required">
                        Username is required ..!
                    </div>
                    <!-- <div class="text-danger" *ngIf="forgotPassForm.controls.username.errors.email">
                        Invalid Email Address ..!
                    </div> -->
                </div>
                <!-- <div class="text-danger" *ngIf="usernameFlag">
                    {{usernameErrorMessage}}
                </div> -->
            </div>


              <!-- Start of Security question field -->

            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/cotton/64/000000/security-shield.png"/></span>&nbsp;&nbsp;
                    <span style="margin-left: 2%;">Choose security question</span>
                    <select formControlName="securityQuestion">
                        <option *ngFor="let question of securityQuestion" [ngValue]="question">
                            {{ question }}
                        </option>
                    </select>
                    <hr>
                </div>
                <!-- Validation Messages -->
                <div *ngIf="submitted && forgotPassForm.controls.securityQuestion.errors">
                    <div class="text-danger" *ngIf="forgotPassForm.controls.securityQuestion.errors.required">
                        Security Question is required ..!
                    </div>

                </div>

            </div>
            <!-- End of Security question field -->

              <!-- Start of Security answer field -->
              <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/windows/64/000000/stack-exchange-answer.png"
                        width=50 /></span>&nbsp;&nbsp;
                    <input type="text" formControlName="securityAnswer" placeholder="Security Answer">
                </div>
                <!-- Validation Messages -->
                <div *ngIf="submitted && forgotPassForm.controls.securityAnswer.errors">
                    <div class="text-danger" *ngIf="forgotPassForm.controls.securityAnswer.errors.required">
                        Security Answer is required ..!
                    </div>

                </div>
            </div>
            
            <button class="SubmitButton ">Submit</button> &nbsp;
            <button class="CancelButton " routerLink="/user/login">Cancel</button> &nbsp;
       
        </form>
    </div>
    <div class="col-md-1">
        <img src="../../../assets/merchant.png" class="image">
    </div>
    
    </div>
    </div>
