<div class="animated">

    
    <h2 class="mt-5">Add Customer/Merchant</h2>
<div class="container row mb-5" style="margin-top: 2%;">
    <div class="col-md-6">
        <form [formGroup]="addForm">
            <!-- Role field  -->
            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/ios-filled/50/000000/user-group-man-man.png"/></span>&nbsp;&nbsp;

                    <div style="margin-top:10px">
                        <input type="radio" value="Customer" formControlName="role"> Customer
                        <input type="radio" value="Merchant" formControlName="role"> Merchant                    </div>
            </div>
            <!-- Validation Messages -->
            <div *ngIf="submitted && addForm.controls.role.errors">
                <div class="text-danger" *ngIf="addForm.controls.role.errors.required">
                    Option is required ..!
                </div>
                
            </div>
            </div>
            <!-- End of role field -->
            <!-- Start of name input field -->
            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/ios-filled/50/000000/name.png" /></span>&nbsp;&nbsp;
                    <input type="text" formControlName="name" placeholder="Full Name">
                </div>
                <!-- Validation Messages -->
                <div *ngIf="submitted && addForm.controls.name.errors">
                    <div class="text-danger" *ngIf="addForm.controls.name.errors.required">
                        Name is required ..!
                    </div>
                    <div class="text-danger" *ngIf="addForm.controls.name.errors.pattern">
                        Name must start with a capital letter and should not contain any digit. ..!
                    </div>
                </div>
            </div>
            <!-- End of name input field -->

            <!-- Start of username input field -->
            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/ios-filled/50/000000/username.png" /></span>&nbsp;&nbsp;
                    <input type="email" formControlName="username" placeholder="Username (Email Address)">
                </div>
                <!-- Validation Messages -->
                <div *ngIf="submitted && addForm.controls.username.errors">
                    <div class="text-danger" *ngIf="addForm.controls.username.errors.required">
                        Username is required ..!
                    </div>
                    <div class="text-danger" *ngIf="addForm.controls.username.errors.email">
                        Invalid Email Address ..!
                    </div>
                </div>
                <div class="text-danger" *ngIf="usernameFlag">
                    {{usernameErrorMessage}}
                </div>
            </div>
            <!-- End of username input field -->
            
            <!-- Start of alternate email input field -->
            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/ios-filled/50/000000/email-open.png" /></span>&nbsp;&nbsp;
                    <input type="email" formControlName="alternateEmail" placeholder="Alternate email-id" style="width:265px;">
                    <div class="input-group-append">&nbsp;&nbsp;

                    </div>
                </div>
                <!-- Validation Messages -->
                <div class="text-danger" *ngIf="addForm.errors?.emailMatch">Alternate Email is same as above username</div>
                <div *ngIf="submitted && addForm.controls.alternateEmail.errors">
                    <div class="text-danger" *ngIf="addForm.controls.alternateEmail.errors.required">
                        Altername Email is required ..!
                    </div>
                    <div class="text-danger" *ngIf="addForm.controls.alternateEmail.errors.email">
                        Invalid Email Address ..!
                    </div>
                </div>
                <div class="text-danger" *ngIf="alternateEmailFlag">
                    {{alternateEmailErrorMessage}}
                </div>
            </div>

            <!-- End of name input field -->

            <!-- Start of phone number input field -->

            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span style="font-weight: 700;font-size: x-large;"><img
                            src="https://img.icons8.com/ios-filled/50/000000/phone.png">+91</span>&nbsp;&nbsp;
                            <input type="text" formControlName="phoneNo" placeholder="Phone Number">
                </div>
                <!-- Validation Messages -->
                <div *ngIf="submitted && addForm.controls.phoneNo.errors">
                    <div class="text-danger" *ngIf="addForm.controls.phoneNo.errors.required">
                        Phone Number is required ..!
                    </div>
                    <div class="text-danger" *ngIf="addForm.controls.phoneNo.errors.pattern">
                        Phone Number must be of 10 digits and should be numeric ..!
                    </div>
                </div>
                <div class="text-danger" *ngIf="phoneNoFlag">
                    {{phoneNoErrorMessage}}
                </div>
            </div>
            <!-- End of phone number input field -->

            <!-- Start of alternate phone number input field -->
            
            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span style="font-weight: 700;font-size: x-large;"><img
                        src="https://img.icons8.com/ios-filled/50/000000/phone.png">+91</span>&nbsp;&nbsp;
                    <input type="text" formControlName="alternatePhoneNo" placeholder="Alternate Phone Number">
                </div>
                <!-- Validation Messages -->
                <div class="text-danger" *ngIf="addForm.errors?.phoneMatch">Alternate phone is same as above phone number</div>
                <div *ngIf="submitted && addForm.controls.alternatePhoneNo.errors">
                    <div class="text-danger" *ngIf="addForm.controls.alternatePhoneNo.errors.required">
                        Mobile Number is required ..!
                    </div>
                    <div class="text-danger" *ngIf="addForm.controls.alternatePhoneNo.errors.pattern">
                        Mobile Number must be of 10 digits and should be numeric ..!
                    </div>
                </div>
                <div class="text-danger" *ngIf="alternatePhoneNoFlag">
                    {{alternatePhoneNoErrorMessage}}
                </div>
            </div>
            <!-- End of alternate phone number input field -->
            
            <!-- Start of gender input field -->
            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/ios-filled/50/000000/gender.png" /></span>&nbsp;&nbsp;

                    <div style="margin-top:10px">
                        <input type="radio" value="Male" formControlName="gender"> Male
                        <input type="radio" value="Female" formControlName="gender"> Female
                        <input type="radio" value="Other" formControlName="gender"> Other </div>
                    </div>
            </div>
            <!-- Validation Messages -->
            <div *ngIf="submitted && addForm.controls.gender.errors">
                <div class="text-danger" *ngIf="addForm.controls.gender.errors.required">
                    Gender is required ..!
                </div>
                
            </div>
            <!-- End of gender input field -->

            <!-- Start of password input field -->

            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/ios-filled/50/000000/password.png" /></span>&nbsp;&nbsp;
                    <input type="password" formControlName="password" placeholder="Password">
                </div>
                <!-- Validation Messages -->
                <div *ngIf="submitted && addForm.controls.password.errors">
                    <div class="text-danger" *ngIf="addForm.controls.password.errors.required">
                        Password is required ..!
                    </div>
                    <div class="text-danger" *ngIf="addForm.controls.password.errors.pattern">
                        Password must have 1 Lowercase letters, 1 Uppercase letters, 1 Numbers and 1 Special characters ..!
                    </div>
                </div>
            </div>
            <!-- End of password input field -->

            <!-- Start of Security question field -->

            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span style="margin-left: 2%;">Choose Security Question</span>
                    <select formControlName="securityQuestion">

                        <option *ngFor="let question of securityQuestion" [ngValue]="question">
                            {{ question }}
                        </option>
                    </select>
                    <hr>
                </div>
                <!-- Validation Messages -->
                <div *ngIf="submitted && addForm.controls.securityQuestion.errors">
                    <div class="text-danger" *ngIf="addForm.controls.securityQuestion.errors.required">
                        Security Question is required ..!
                    </div>

                </div>

            </div>
            <!-- End of Security question field -->

            <!-- Start of Security answer field -->
            <div class="col-md-11">
                <div class="input-group mb-3 input-field">
                    <span><img src="https://img.icons8.com/windows/64/000000/stack-exchange-answer.png"
                        width=50 /></span>&nbsp;&nbsp;
                    <input type="text" formControlName="securityAnswer" placeholder="Security Answer">
                </div>
                <!-- Validation Messages -->
                <div *ngIf="submitted && addForm.controls.securityAnswer.errors">
                    <div class="text-danger" *ngIf="addForm.controls.securityAnswer.errors.required">
                        Security Answer is required ..!
                    </div>

                </div>
            </div>
           
            <div>
                <button class="signupButton" (click)="addCustomer()">Register</button> &nbsp; &nbsp;
                <button class="cancelButton" routerLink="/user/login">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-md-1">
        <img src="../../../assets/merchant.png" class="image">
    </div>
</div>
</div>