<div class="animated">
    <h3 class="text-center mt-3">Statistics</h3>
    <hr>
    <div class="row container fluid pt-3 pb-5" style="margin:auto;">
        <div class="col-lg-6">
            <canvas id="revenueChart"></canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="ordersChart"></canvas>
        </div>
    </div>
    <div class="row container fluid pt-3 pb-5" style="margin:auto;">
        <div class="col-lg-6">
            <canvas id="categoryChart"></canvas>
        </div>

        <div class="col-lg-6">
            <canvas id="genderChart"></canvas>
        </div>
    </div>
</div>