<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background-color: #76618b;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/merchant" style="background-color: #524361;">
        <i class="fas fa-shopping-cart"></i> &nbsp;Capstore Merchant
    </a>
    <input class="form-control form-control w-25" type="text" placeholder="Search" aria-label="Search">
    <!-- <div class="text-white">{{todaysDate | date: 'medium'}}</div> -->
    <ul class="navbar-nav px-3">
        <li class="nav-item">
            <span class="text-white">Merchant &nbsp;<i class="fa fa-user" aria-hidden="true"></i></span>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item main">
                        <a class="nav-link" routerLink="/merchant">
                            <i class="fas fa-home"></i>&nbsp; Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item main">
                        <a class="nav-link main" data-toggle="collapse" href="#ordersInventory" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-people-carry"></i>&nbsp; Orders

                        </a>
                        <span class="collapse" id="ordersInventory">
                            <a class="nav-link main ml-4" routerLink="orders">
                                - View all Orders
                            </a>
                        </span>
                    </li>

                    <li class="nav-item main">
                        <a class="nav-link main" data-toggle="collapse" href="#Inventory" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-gift"></i>&nbsp; Inventory
                        </a>
                        <span class="collapse" id="Inventory">
                            <a class="nav-link main ml-4" routerLink="inventory">
                                - View all Products
                            </a>
                        </span>
                    </li>
                    <li class="nav-item main">
                        <a class="nav-link" routerLink="statistics">
                            <i class="fas fa-chart-bar"></i>&nbsp; Statistics
                        </a>
                    </li>

                    <br>

                    <li class="nav-item">
                        <a class="nav-link">
                            <p><i class="fas fa-calendar-alt"></i> &nbsp;{{todaysDate | date}}</p>
                            <p><i class="fas fa-clock"></i> &nbsp;{{todaysDate | date:'h:mm:ss a'}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>